* {
	-webkit-text-size-adjust: none;
	margin: auto 0;
	padding:0;
}

/**/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*       'Open Sans', sans-serif     */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/*       'Open Sans Condensed', sans-serif*/


/* componentes de estutura*/
header, footer{
	background-color: #009fb3;
	display: block;
	position: relative;
	
}
body {
	font: 16px/22px  Arial, Helvetica, sans-serif;
	color:#a1a1a1;
	position:relative;
	min-width:960px;
}
hr{
	border: 1px dotted #c0d6d8;
	margin: 30px 0 10px 0;
	clear:both;
}
.f-left {
	float: left;
	margin-right: 18px;
	margin-top: 5px;	
	margin-bottom: 0px;
}
.f-right{
	float: right;
	margin-right: 18px;
	margin-top: 5px;	
	margin-bottom: 0px;
}
.clear {
	clear:both;
}
 h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif ;	
	text-transform: uppercase;
}
h2, h3{
	color: #009fb3;
}
h1{
	font-size: 38px;
}
h1 a {
	display: block;
	color: #fdad20;
	transition: 1s ease;
	-o-transition: 1s ease;
	-webkit-transition: 1s ease;
	background: url(../images/Git-icon-laranj.png)no-repeat 30%;
	line-height:100px;
}
h1 a:hover {
	color: #fff;	
	background: url(../images/Git-icon-branco.png)no-repeat 30%;
}
h2 {
	padding-top: 64px;
	text-align: center;
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 48px;
}
h2>span {
	padding-top: 18px;
	color: #abaaaa;
	display: block;
	font-size: 20px;
	line-height: 33px;
}
h3 {
	text-align: center;
	font-size: 20px;
	line-height: 33px;
	padding-top: 62px;
	margin-bottom: 24px;
	background: url(../images/h3_bg.png) 0 74px repeat-x;	
}

h3 span {
	padding: 0 36px;
	background-color: #fff;
	display: inline-block;
}
h4{
	color: #626262;
	font-size:24px;
	display:block;
	line-height: 80px;
	
}

p {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}


/*links*/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #009fb3;	
}

a.btn {
	color: #fd9220;
	font: bold 14px/20px 'Open Sans Condensed', sans-serif;
	display: inline-block;
	margin-top: 33px;
}
a.btn:hover {
	color: #009fb3;
}
.img_media{
	max-width: 50%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 0 19px 10px;
	position: relative;
}
.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 19px;
	position: relative;
}

.upp {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}



/*header*/

header {
	position: relative;
	z-index: 999;
	padding: 31px 0 29px;
	text-align:center;
}

/*Content*/

.col1 {
	color: #fd9220;
}

.col2  {
	color: #5fabb5;
	font-weight:bold;
}

.col3 {
	color: #626262;
}

.content {
	background-color: #fff;
	padding-bottom: 68px;
	display:block;
}
.icon {
	text-align: center;
}


blockquote {
	padding-top: 1px;
	font-family: 'Open Sans', sans-serif;
}

blockquote p {
	font-family: Arial, Helvetica, sans-serif;;
	padding-top: 4px;
	margin-bottom: 8px;
}

.lista{
	list-style: url(../images/setas.png);
	margin: 0 0 0 30px;

}
.lista li{
	margin-bottom: 10px;
}


/************Footer***********/

footer {	
	padding: 23px 0 ;
	font-size: 12px;
	color: #d7d7d7;
	height:60px;
	display:block;
	clear:both;
}

footer a:hover {
	color: #fd9220;
}
.copy {
	padding-top: 9px;
	padding-bottom: 23px;

}

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display:block;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.container_12 .grid_4 {
  width: 300px;
}
.container_12 .grid_6 {
  width: 460px;
}
.container_12 .grid_12 {
  width: 940px;
  clear:both;
  
}

